@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto+Mono:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}


/* font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */


/*navbar*/

nav .logo img {
    width: 40%;
}


/*Section-01*/

.social-media {
    position: fixed;
    top: 5%;
    right: 0%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    transform: translate(+200px, 0)
}

.social-media a {
    background: white;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 0em 0 0.5em 0.5em;
    padding: 0.6em;
    width: 250px;
    text-align: left;
    border-radius: 50px;
    transition: 1s;
    transition-property: transform;
}

.social-media a:hover {
    transform: translate(-140px, 0);
}

.social-media i {
    margin-left: 0.25em;
    margin-right: 0.5em;
    font-size: 1.5em;
}

.social-media a:nth-child(1) i {
    color: rgb(50, 18, 244);
}

.social-media a:nth-child(2) i {
    color: rgb(75, 180, 255);
}

.social-media a:nth-child(3) i {
    color: rgb(60, 75, 206);
}

.social-media a:nth-child(4) i {
    color: rgb(255, 24, 24);
}

.social-media a:nth-child(5) i {
    color: transparent;
    background-image: linear-gradient(45deg, #FFDF9E, #E56969, #8A49A1);
    -webkit-background-clip: text;
    font-weight: 700;
}

.chat-now {
    position: fixed;
    top: 76%;
    right: 0%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    background: red;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.chat-now p {
    writing-mode: vertical-lr;
    text-align: center;
    padding-left: 10px;
    color: white;
    font-size: 0.8em;
    font-weight: 500;
}


/*Section-02*/

.section-02 .scrollable-section02 {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.section-02 .scrollable-section02::-webkit-scrollbar {
    display: none;
}


/*Section-03*/

.Section-03 {
    background-color: rgba(229, 229, 229, 0.5);
}


/*Section-06*/

.Section-06 {
    background-color: rgba(229, 229, 229, 0.5);
}


/*Section-07*/

.section-07 .scrollable-section07 {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.section-07 .scrollable-section07::-webkit-scrollbar {
    display: none;
}

.section-07 .vl {
    border-right: 2px solid rgb(147, 147, 147);
    height: 60px;
    align-items: center;
    padding-left: 3px;
}


/*Footer*/

footer hr.solid {
    border-top: 3px solid #bbb;
}

footer h4 {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 500;
}

footer p {
    color: white;
}

footer p a {
    text-decoration: none;
    color: white;
}

footer p i {
    padding-left: 10px;
    padding-right: 10px;
}

footer .footer-social-icons {
    color: white;
    display: flex;
    flex-direction: column;
}

footer .footer-social-icons a {
    text-decoration: none;
    color: white;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

footer .footer-social-icons a i {
    padding-right: 20px;
}


/*For large Screens*/

@media only screen and (min-width: 768px) {
    .section-01 .main-section {
        background-image: url(./Images/Main_Image.svg);
        height: 570px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: relative;
    }
    .section-01 .input-group {
        margin: 20em 0.5em 0.5em 11em;
    }
}


/*For Small Screens*/

@media only screen and (max-width: 768px) {
    .section-01 .main-section {
        background-image: url(./Images/Main_Image.svg);
        height: 180px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: relative;
    }
    .section-01 .input-group {
        width: 55%;
        margin: 7em 0.5em 0.5em 0em;
    }
    footer h4 {
        text-align: center !important;
    }
    footer .left-container {
        padding-left: 50px;
    }
    footer .middle-one-container {
        padding-left: 50px;
    }
    footer .middle-two-container {
        padding-left: 50px;
    }
    footer .right-container {
        padding-left: 50px;
    }
}